<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TestServerUrl" value="http://api.192.168.77.77.nip.io:80"/>
    <add key="User" value="admin"/>
    <add key="Password" value="changeme"/>
    <add key="IgnoreCertificate" value="true"/>
  </appSettings>
</configuration>
